
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<style type="text/css">
    @font-face {
        font-family: 'Conv_Oswald-Bold';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Bold.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Conv_Oswald-Regular';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Conv_Oswald-Light';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Light.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face { 
      font-family: 'Conv_Oswald-Bold';
      /*src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/SansSerifShaded.ttf'); */
    } 

    body {
        font-family: 'Conv_Oswald-Light';
    }
    body, h1, h2, h3, h4, h5, h6, ul, li, p, table, tr, td, tbody, thead, th {
        padding: 0;
        margin: 0;
        page-break-after: avoid;
        page-break-inside:avoid;
    }
    .row-section {
       page-break-after: always;
    }
    .maintitle, .subtitle {
        color: #000;
        font-family: 'Conv_Oswald-Bold';
    }
    .maintitle {
        font-size: 4.5em;
        margin-top: 80px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 3em;
        line-height: 20px;
    }
    .subtitleborder {
        color: #757171;
        font-size: 2em;
        border-bottom: #757171 3px solid;
        font-family: 'Conv_Oswald-Bold';
    }
    .contenttext {
        padding: 20px 0;
        font-size: 20px;
        color: #000;
    }
    .addresshead {
        color: #000;
        font-family: 'Conv_Oswald-Bold';
        font-size: 17px;
        margin-top: 15px;
    }
    .addressline {
        font-family: 'Conv_Oswald-Regular';
        font-size: 13px;
        color: #000;
    }
    .tablelisting1 th {
        border-bottom:1px #ddd solid;
        font-size: 13px;
        font-family: 'Conv_Oswald-Regular';
        padding: 5px 0;
    }
    .heading_one {
        font-family: 'Conv_Oswald-Bold'; 
        font-size: 28px;
    }
    .heading_two {
        font-family: 'Conv_Oswald-Regular';
        font-size: 20px;
    }
    .heading_three {
        font-family: 'Conv_Oswald-Bold'; 
        font-size: 16px;
    }
    .lighttext {
        font-family: 'Conv_Oswald-Light';
        font-size: 13px;
        vertical-align: top;
    }
    
    .boldtext {
        font-family: 'Conv_Oswald-Regular';
        font-size: 12px;
        vertical-align: top;
    }
    .headinglabeltext {
        font-family: 'Conv_Oswald-Regular';
        font-size: 12px;
    }
    .contenttext {
        font-family: 'Conv_Oswald-Light';
        font-size: 13px;
    }
    .clearfix {
        clear: both;
        display: block;
    }
    /*.img-area {
        width:50%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }*/
    
    
    
</style>
</head>
<body> 
    <div class="mainwrapper">


        <!-- <header class="header">
                <div class="container">
                    <h2 class="maintitle">This is the pdf template 1 </h2>
                    <h3 class="subtitle"> This reporrt sub title </h3>
                    <h3 class="subtitleborder" style="margin-top: 15px;"> Prepared on Nov 1, 2017 on ICREX </h3>
                    <p class="contenttext"> This is the cover page notes.</p>
                </div>
        </header>  -->


        <!-- PAGE 1 -->

        <section class="row-section">
            
            <table class="pagetop" style="width:100%; font-family: 'Conv_Oswald-Light'; font-size: 13px; color: #000;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">
                                Prepared by Holly Harrell, Harrell Commercial Brokers LLC</br>
                                Feb 18, 2017 on ICREX
                            </td>
                            <td style="text-align: right;">
                                317-405-7861 [M]&nbsp;&nbsp;&nbsp;
                                317-405-7861 [O]&nbsp;&nbsp;&nbsp;
                                hharrell@harrellnews.net</br>
                                Indiana Real Estate License: RB142882
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: #757171 3px solid;">
                                &nbsp;
                            </td>
                            <td style="border-bottom: #757171 3px solid;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
            </table>

            <div class="container"> 
              <div class="row-div">

                <table class="main_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light';">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_one">
                                   Prime location for small business 60th & Michigan Rd
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="heading_two" style="padding-bottom: 10px;">
                                    6031 Michigan Rd, Indianapolis, IN 46228
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="sub_table" width="100%" align="left" valign="top">
                                        <tbody>
                                            <tr>
                                                <td width="20%" class="lighttext">Listing ID:</td>
                                                <td width="30%" class="boldtext">30177484</td>
                                                <td width="50%" rowspan="9" class="tablebox" style="padding-left:15px;" align="left" valign="top">
                                                    <table width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/imageview3.jpg" alt=""> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" style="border-top: #757171 2px solid;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding-top: 10px;">
                                                                                <span class="lighttext">More Information Online</span>
                                                                                </br>
                                                                                <span class="boldtext">http://www.icrex.net/listing/30177484</span>
                                                                                </br>
                                                                                <span class="lighttext">QR Code</span>
                                                                                </br>
                                                                                <span class="boldtext">Scan this image with your mobile device:</span>
                                                                            </td>
                                                                            <td align="right" valign="top" style="padding-top: 10px;">
                                                                                <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/qrcode1.jpg" alt=""> 
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Status:</td>
                                                <td class="boldtext">Active</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Property Type:</td>
                                                <td class="boldtext">Retail-Commercial For Sale</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Retail-Commercial Type:</td>
                                                <td class="boldtext">Day Care Facility, Free-Standing Building</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Size:</td>
                                                <td class="boldtext">1,569 SF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Price:</td>
                                                <td class="boldtext">$109,000</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Unit Price:</td>
                                                <td class="boldtext">$69.47 PSF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Terms:</td>
                                                <td class="boldtext">Cash to Seller</td>
                                            </tr>
                                            <tr>
                                                <td width="50%" colspan="2" class="lighttext">
                                                    <table width="100%" align="left" valign="top">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-bottom: #ccc 2px dotted;">
                                                                <span class="boldtext">Overview/Comments</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="lighttext" style="padding-top: 5px;">Prime commercial property for small business. insurance, office space,
                                                                    investment, small medical office, hair salon, etc. Currently residential with
                                                                    variance. Property can be negotiated to be zoned commercial if needed. This
                                                                    convenient property is just minutes from downtown Indy! Property has been
                                                                    used previously as a dentist office as well as a kitchen remodeling
                                                                    business.</br></br>
                                                                    Michigan Road to Property on East side of Michigan. Next to Speedway and
                                                                    across from Uhaul. All small merchants along the road.
                                                                    </span>
                                                                        </br></br></br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_three" style="border-bottom: #000 dotted 1px;">
                                    General Information
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Tax ID/APN:</td>
                                <td width="30%" class="boldtext">73-07-33-400-017.000-002 /
                                                                    </br>
                                                                73-07-34-300-019.000-002</td>
                                <td width="20%" class="lighttext"></td>
                                <td width="30%" class="boldtext"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Possible Uses:</td>
                                <td width="30%" class="boldtext">Hospitality, Office, Retail, Retail-Pad, Self Storage, Vacation/Resort, Other</td>
                                <td width="20%" class="lighttext"></td>
                                <td width="30%" class="boldtext"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Sale Terms:</td>
                                <td width="30%" class="boldtext">Cash to Seller</td>
                                <td width="20%" class="lighttext"></td>
                                <td width="30%" class="boldtext"></td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_three" style="border-bottom: #000 dotted 1px;">
                                    Area & Location
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Suite/Unit Number:</td>
                                <td width="30%" class="boldtext">855</td>
                                <td width="20%" class="lighttext">Offices:</td>
                                <td width="30%" class="boldtext">3</td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Suite Floor/Level:</td>
                                <td width="30%" class="boldtext">Modi ut ut autem sint veritatis qui</td>
                                <td width="20%" class="lighttext">Kitchen/Breakroom:</td>
                                <td width="30%" class="boldtext">Yes</td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Space Available:</td>
                                <td width="30%" class="boldtext">546,499 SF</td>
                                <td width="20%" class="lighttext">Parking Spaces:</td>
                                <td width="30%" class="boldtext">4</td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_three" style="border-bottom: #000 dotted 1px;">
                                    Land Related
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Suite/Unit Number:</td>
                                <td width="30%" class="boldtext">872</td>
                                <td width="20%" class="lighttext">Conference Rooms:</td>
                                <td width="30%" class="boldtext">1</td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Suite Floor/Level:</td>
                                <td width="30%" class="boldtext">Non accusamus quasi et tenetur dolorum nihil esse minima sed de</td>
                                <td width="20%" class="lighttext">Offices:</td>
                                <td width="30%" class="boldtext">1</td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_three" style="border-bottom: #000 dotted 1px;">
                                    Location
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Property Located Between:</td>
                                <td width="30%" class="boldtext">Property Located Between</td>
                                <td width="20%" class="lighttext"> </td>
                                <td width="30%" class="boldtext"> </td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Property Visibility:</td>
                                <td width="30%" class="boldtext">Excellent</td>
                                <td width="20%" class="lighttext"> </td>
                                <td width="30%" class="boldtext"> </td>
                            </tr>
                            <tr>
                                <td width="20%" class="lighttext">Property Located Between:</td>
                                <td width="30%" class="boldtext">Property Located Between</td>
                                <td width="20%" class="lighttext"> </td>
                                <td width="30%" class="boldtext"> </td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="map-area" style="margin: 30px 0;">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/mapview2.jpg" alt="">
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>

                            <tr>
                                <td colspan="2" class="heading_three" style="border-bottom: #000 dotted 1px;">
                                    Property Images
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                            </tr>

                            <tr>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg2.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">Elevation</div>
                                </td>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg3.jpg" alt=""> 
                                    </div> 
                                    <div style="padding: 10px 25px;">62951_1012015122213PM21757</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg4.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">84c1c4fc42c3acdc7da75f1ed2815e63_l</div>
                                </td>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg5.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">cat_small22032017-276</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg2.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">Elevation</div>
                                </td>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg3.jpg" alt=""> 
                                    </div> 
                                    <div style="padding: 10px 25px;">62951_1012015122213PM21757</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg4.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">84c1c4fc42c3acdc7da75f1ed2815e63_l</div>
                                </td>
                                <td width="50%" align="center">
                                    <div class="img-area">
                                        <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/icreximg5.jpg" alt=""> 
                                    </div>
                                    <div style="padding: 10px 25px;">cat_small22032017-276</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h3 class="subtitleborder" style="font-size: 17px;">Property Contacts</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80px; padding-top: 10px;">
                                    <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/userview2.jpg" alt="">
                                </td>
                                <td style="padding-left: 20px; padding-top: 10px;" align="left" valign="top">
                                    <h4 class="addresshead" style="font-size: 16px;">Holly Harrell</h4>
                                    <p class="addressline" style="font-size: 12px; padding-top: 5px;">Harrell Commercial Brokers LLC <br>
                                        317-405-7861 [M]<br>
                                        317-405-7861 [O]<br>
                                        hharrell@harrellnews.net
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
              </div>
            </div>
            
        </section>



    </div>
</body>
</html>