
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<style type="text/css">
    @font-face {
        font-family: 'Conv_Oswald-Bold';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Bold.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Conv_Oswald-Regular';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Conv_Oswald-Light';
        src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/Oswald-Light.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face { 
      font-family: 'Conv_Oswald-Bold';
      /*src: url('http://52.65.17.160:3000/home/ubuntu/icrex/src/static/fonts/SansSerifShaded.ttf'); */
    } 

    body {
        font-family: 'Conv_Oswald-Light';
    }
    body, h1, h2, h3, h4, h5, h6, ul, li, p, table, tr, td, tbody, thead, th {
        padding: 0;
        margin: 0;
        page-break-after: avoid;
        page-break-inside:avoid;
    }
    .row-section {
       page-break-after: always;
    }
    .maintitle, .subtitle {
        color: #000;
        font-family: 'Conv_Oswald-Bold';
    }
    .maintitle {
        font-size: 4.5em;
        margin-top: 80px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 3em;
        line-height: 20px;
    }
    .subtitleborder {
        color: #757171;
        font-size: 2em;
        border-bottom: #757171 3px solid;
        font-family: 'Conv_Oswald-Bold';
    }
    .contenttext {
        padding: 20px 0;
        font-size: 20px;
        color: #000;
    }
    .addresshead {
        color: #000;
        font-family: 'Conv_Oswald-Bold';
        font-size: 17px;
        margin-top: 15px;
    }
    .addressline {
        font-family: 'Conv_Oswald-Regular';
        font-size: 13px;
        color: #000;
    }
    .tablelisting1 th {
        border-bottom:1px #ddd solid;
        font-size: 13px;
        font-family: 'Conv_Oswald-Regular';
        padding: 5px 0;
    }
    .heading_one {
        font-family: 'Conv_Oswald-Bold'; 
        font-size: 28px;
    }
    .heading_two {
        font-family: 'Conv_Oswald-Regular';
        font-size: 20px;
    }
    .heading_three {
        font-family: 'Conv_Oswald-Bold'; 
        font-size: 16px;
    }
    .lighttext {
        font-family: 'Conv_Oswald-Light';
        font-size: 13px;
        vertical-align: top;
    }
    
    .boldtext {
        font-family: 'Conv_Oswald-Regular';
        font-size: 12px;
        vertical-align: top;
    }
    .headinglabeltext {
        font-family: 'Conv_Oswald-Regular';
        font-size: 12px;
    }
    .contenttext {
        font-family: 'Conv_Oswald-Light';
        font-size: 13px;
    }
    .clearfix {
        clear: both;
        display: block;
    }
    /*.img-area {
        width:50%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }*/
    
    
    
</style>
</head>
<body> 
    <div class="mainwrapper">


        <!-- <header class="header">
                <div class="container">
                    <h2 class="maintitle">This is the pdf template 1 </h2>
                    <h3 class="subtitle"> This reporrt sub title </h3>
                    <h3 class="subtitleborder" style="margin-top: 15px;"> Prepared on Nov 1, 2017 on ICREX </h3>
                    <p class="contenttext"> This is the cover page notes.</p>
                </div>
        </header>  -->


        <!-- PAGE 1 -->

        <section class="row-section">
            
            <table class="pagetop" style="width:100%; font-family: 'Conv_Oswald-Light'; font-size: 13px; color: #000;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">
                                6/30/2017
                            </td>
                            <td style="text-align: center;">
                                317-405-7861 [M]&nbsp;&nbsp;&nbsp;
                                hharrell@harrellnews.net&nbsp;&nbsp;&nbsp;Indiana Real Estate License: RB142882
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: #757171 3px solid;">
                                &nbsp;
                            </td>
                            <td style="border-bottom: #757171 3px solid;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
            </table>

            <div class="container"> 
              <div class="row-div">

                <table class="main_table" valign="top" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light';">
                        <tbody>
                            <tr>
                                <td colspan="4" class="heading_one">
                                    Harbourtown Shoppes / Bar & Grill
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="heading_two">
                                    6031 Michigan Rd, Indianapolis, IN 46228
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="sub_table" width="100%" align="left" valign="top" style="color: #444;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="heading_two" style="color:#000; ">
                                                    <span style="padding-bottom: 10px;">Retail Commerce for Lease</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Listing ID:</td>
                                                <td width="30%" class="boldtext">30177484</td>
                                                <td width="50%" rowspan="10" class="tablebox" style="padding-left:15px;" align="left" valign="top">
                                                    <div class="heading_two" style="width: 100%; text-align: right;">
                                                        catalist id: #30030035
                                                    </div>
                                                    <table width="100%" style="margin-top: 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/imageview3.jpg" alt=""> 
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Status:</td>
                                                <td class="boldtext">Active</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Property Type:</td>
                                                <td class="boldtext">Retail-Commercial For Sale</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Retail-Commercial Type:</td>
                                                <td class="boldtext">Day Care Facility, Free-Standing Building</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Size:</td>
                                                <td class="boldtext">1,569 SF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Price:</td>
                                                <td class="boldtext">$109,000</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Unit Price:</td>
                                                <td class="boldtext">$69.47 PSF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Terms:</td>
                                                <td class="boldtext">Cash to Seller</td>
                                            </tr>
                                            <tr>
                                                <td width="50%" colspan="2" class="lighttext">
                                                    <table width="100%" align="left" valign="top">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-bottom: #ccc 2px dotted;">
                                                                <span class="boldtext">Overview/Comments</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="lighttext" style="padding-top: 5px;">Prime commercial property for small business. insurance, office space,
                                                                    investment, small medical office, hair salon, etc. Currently residential with
                                                                    variance. Property can be negotiated to be zoned commercial if needed. This
                                                                    convenient property is just minutes from downtown Indy! Property has been
                                                                    used previously as a dentist office as well as a kitchen remodeling
                                                                    business.</br></br>
                                                                    Michigan Road to Property on East side of Michigan. Next to Speedway and
                                                                    across from Uhaul. All small merchants along the road.
                                                                    </span>
                                                                        </br></br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" colspan="2" class="lighttext">
                                                    <table width="100%" align="left" valign="top">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-bottom: #ccc 2px dotted;">
                                                                <span class="boldtext">Agent Notes</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span class="lighttext" style="padding-top: 5px;">Prime commercial property for small business. insurance, office space,
                                                                    investment, small medical office, hair salon, etc. Currently residential with
                                                                    variance.
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="sub_table" width="100%" align="left" valign="top" style="color: #444;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="heading_two" style="color:#000; ">
                                                    <span style="padding-bottom: 10px;">Available Space</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Listing ID:</td>
                                                <td width="30%" class="boldtext">30177484</td>
                                                <td width="50%" rowspan="8" class="tablebox" style="padding-left:15px;" align="left" valign="top">
                                                    <table width="100%" style="margin-top: 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/mapview1.jpg" alt=""> 
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Status:</td>
                                                <td class="boldtext">Active</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Property Type:</td>
                                                <td class="boldtext">Retail-Commercial For Sale</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Retail-Commercial Type:</td>
                                                <td class="boldtext">Day Care Facility, Free-Standing Building</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Size:</td>
                                                <td class="boldtext">1,569 SF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Price:</td>
                                                <td class="boldtext">$109,000</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Unit Price:</td>
                                                <td class="boldtext">$69.47 PSF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Terms:</td>
                                                <td class="boldtext">Cash to Seller</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4"></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <table class="sub_table" width="100%" align="left" valign="top" style="color: #444;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="heading_two" style="color:#000; ">
                                                    <span style="padding-bottom: 10px;">Price History</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Listing ID:</td>
                                                <td width="30%" class="boldtext">30177484</td>
                                                <td width="50%" rowspan="2" class="tablebox" style="padding-left:15px;" align="left" valign="top">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Status:</td>
                                                <td class="boldtext">Active</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4"></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <table class="sub_table" width="100%" align="left" valign="top" style="color: #444;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="heading_two" style="color:#000; ">
                                                    <span style="padding-bottom: 10px;">Additional Details</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Listing ID:</td>
                                                <td width="30%" class="boldtext">30177484</td>
                                                <td width="50%" rowspan="8" class="tablebox" style="padding-left:15px;" align="left" valign="top">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Status:</td>
                                                <td class="boldtext">Active</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Property Type:</td>
                                                <td class="boldtext">Retail-Commercial For Sale</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Retail-Commercial Type:</td>
                                                <td class="boldtext">Day Care Facility, Free-Standing Building</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Size:</td>
                                                <td class="boldtext">1,569 SF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Price:</td>
                                                <td class="boldtext">$109,000</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Unit Price:</td>
                                                <td class="boldtext">$69.47 PSF</td>
                                            </tr>
                                            <tr>
                                                <td width="20%" class="lighttext">Sale Terms:</td>
                                                <td class="boldtext">Cash to Seller</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                </table>

                <table width="100%" align="right" valign="top" cellspacing="3" cellpadding="3" style="text-align: right; margin: 20px 0; border: #ddd 1px solid;">
                                    <thead>

                                        <tr>
                                            <th colspan="4" class="heading_two" style="color:#000; ">
                                                <span style="padding-bottom: 10px; text-align: left;">Demographic Statistics</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="background:#ddd; border:#ccc 1px solid; text-align: right; padding:2px 0;">Radius</th>
                                            <th style="background:#ddd; border:#ccc 1px solid; text-align: right; padding:2px 0;">1 mile </th> 
                                            <th style="background:#ddd; border:#ccc 1px solid; text-align: right; padding:2px 0;">3 miles </th> 
                                            <th style="background:#ddd; border:#ccc 1px solid; text-align: right; padding:2px 0;">5 miles</th> 
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 11px;">
                                        <tr>
                                            <td>2020 Projection</td>
                                            <td>854</td>
                                            <td>19,077</td>
                                            <td>28,375</td>
                                        </tr>
                                        <tr>
                                            <td>Age 0 to 5</td>
                                            <td>40</td>
                                            <td>1,095</td>
                                            <td>1,598</td>
                                        </tr>
                                        <tr>
                                            <td>Age 5 to 10</td>
                                            <td>48</td>
                                            <td>1,322</td>
                                            <td>1,920</td>
                                        </tr>
                                        <tr>
                                            <td>Age 10 to 15</td>
                                            <td>51</td>
                                            <td>1,360</td>
                                            <td>1,978</td>
                                        </tr>
                                        <tr>
                                            <td>Age 15 to 20</td>
                                            <td>57</td>
                                            <td>1,385</td>
                                            <td>1,978</td>
                                        </tr>
                                        <tr>
                                            <td>Age 20 to 25</td>
                                            <td>56</td>
                                            <td>1,327</td>
                                            <td>1,932</td>
                                        </tr>
                                        <tr>
                                            <td>Age 25 to 30</td>
                                            <td>44</td>
                                            <td>1,219</td>
                                            <td>1,837</td>
                                        </tr>
                                        <tr>
                                            <td>Age 25 to 30</td>
                                            <td>44</td>
                                            <td>1,219</td>
                                            <td>1,837</td>
                                        </tr>
                                    </tbody>
                                </table>

                <table class="main_table" width="100%" align="left" valign="top" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px; color: #000; font-size:15px; font-family: 'Conv_Oswald-Light'; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h3 class="subtitleborder" style="font-size: 17px;">Contact</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80px; padding-top: 10px;">
                                    <img src="http://52.65.17.160:3000/home/ubuntu/icrex/src/static/images/userview2.jpg" alt="">
                                </td>
                                <td style="padding-left: 20px; padding-top: 10px;" align="left" valign="top">
                                    <h4 class="addresshead" style="font-size: 16px;">Holly Harrell</h4>
                                    <p class="addressline" style="font-size: 12px; padding-top: 5px;">Harrell Commercial Brokers LLC <br>
                                        317-405-7861 [M]<br>
                                        317-405-7861 [O]<br>
                                        hharrell@harrellnews.net
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                </table>

                

                

                

                    
              </div>
            </div>
            
        </section>



    </div>
</body>
</html>